{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "env": {
    "mocha": true
  },
  "globals": {
    "expect": "readonly"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "plugins": ["@typescript-eslint"],
      "rules": {
        "no-undef": "off",
        "no-unused-vars": "off",
        "no-restricted-globals": "off",
        "import/prefer-default-export": "off",
        "camelcase": "off"
      }
    },
    {
      "files": ["**/*.test.ts", "**/*.test.tsx"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "plugins": ["@typescript-eslint"],
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ],
  "rules": {
    "import/extensions": "off"
  }
}
